@import './varibales';
@import './fonts';
@import './mixins';
* {
    margin: 0;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

.logo {
    width: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_icon {
        width: 40px;
        height: 40px;
    }
    &_text {
        width: 53px;
        height: 13px;
    }
}

.arrow-button {
    width: 24px;
    height: 21px;
    @include button;
    padding: 0;
    transform: rotate(-90deg);
    color: $color-DarkShade50;
}