$color-White: #FFF;
$color-Purple: #BC9CFF;
$color-lightViolet:#8BA4F9;
$color-Green: #6FCF97;
$color-DarkShade100: #1F2041;
$color-DarkShade75: rgba(31, 32, 65, 0.75);
$color-DarkShade50: rgba(31, 32, 65, 0.5);
$color-DarkShade25: rgba(31, 32, 65, 0.25);
$color-DarkShade10: rgba(31, 32, 65, 0.1);
$color-DarkShade5: rgba(31, 32, 65, 0.05);
$shadow-header: 0px 10px 20px rgba(31, 32, 65, 0.05);
$button-radius: 22px;